
.dash-spreadsheet-container .dash-spreadsheet-inner table {
    --accent: #242b63 !important; /* Dropdown options; dropdown arrows during hover. */
}

@media (max-width: 992px) {
    html {
	font-size: 3.0em;
    }
  .no-phone, .no-phone *
  {
    display: none !important;
  }

  .buttonPhone,
  buttonPhone,
  input[type="submit"],
  input[type="reset"],
  input[type="buttonPhone"] {
      display: inline-block;
      height: 100px;
      padding: 0 30px;
      color: #555;
      text-align: center;
      font-size: 0.5em;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: 0rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      /* background-color: transparent; */
      border-radius: 4px;
      border: 1px solid #bbb;
      cursor: pointer;
      box-sizing: border-box;
  }

}

@media (min-width: 992px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .fork.columns { float: left; width: 30.6666666667%; } /* background-color: #fc0b03; */

}
